<div class="container">
  <h2 class="user-register-edit-title">Edit <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :nickname %><em>(12文字以下)</em><br />
      <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", maxlength: "12", class: "new-text-field" %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "new-text-field" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :new_password %> <br /><i>(変更しない場合は入力しないでください)</i><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "new-text-field" %>
      <% if @minimum_password_length %>
        <br />
        <em>(※<%= @minimum_password_length %> 文字以上)</em>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "new-text-field" %>
    </div>

    <div class="field">
      <%= f.label :current_password %> <i><br />(ユーザー情報変更には現在のパスワードの入力が必要です)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password", class: "new-text-field" %>
    </div>

    <div class="actions">
      <%= f.submit "Update" %>
    </div>
  <% end %>

  <h3 class="delete-title">アカウントを削除する</h3>

  <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "cancel-edit-btn" %>

  <%= link_to "戻る", :back %>
</div>
