<%if user_signed_in? %>
  <% if Like.find_by(user_id: current_user.id, post_id: post.id) %>
    <%=link_to post_like_path(post, post.likes), {method: "delete", remote: true} do %>
      <i class="fas fa-heart"></i>
      <%= post.likes.count %>
    <% end %>
  <% else %>
    <%=link_to post_likes_path(post), {method: "post", remote: true} do %>
      <i class="far fa-heart"></i>
      <%= post.likes.count %>
    <% end %>
  <% end %>
<% else %>
  <p><span>いいね！の数</span><%= post.likes.count %></p>
<% end %>