<div class="container">
  <div class="show-user">
    <% if current_user.image == 2 %>
      <%= image_tag 'hitsujicon.png', class: "show-user--img" %>
    <% elsif current_user.image == 3 %>
      <%= image_tag 'toricon.png', class: "show-user--img" %>
    <% elsif current_user.image == 4 %>
      <%= image_tag 'usagicon.png', class: "show-user--img" %>
    <% elsif current_user.image == 5 %>
      <%= image_tag 'azarashi.png', class: "show-user--img" %>
    <% elsif current_user.image == 6 %>
      <%= image_tag 'shika.png', class: "show-user--img" %>
    <% else %>
      <%= image_tag 'default.png', class: "show-user--img-" %>
    <% end %>
    <span class="show-user--name">
      <%= @user.nickname %>
    </span>
  </div>
  <div class="user-message">
    自己紹介メッセージ
    <div class="user-message--content">
      <%= @user.message %>
    </div>
  </div>
  <div class="user-articles">
    投稿一覧
    <% @user.posts.each do |post| %>
      <div class="user-articles--post">
        <%= link_to post_path(post), class:"user-articles--link" do %>
          <span class="user-articles--post__product">
            <%= post.product %>
          </span>
          <% post.stars.times do%>
            <span class="user-articles--post__stars">
            <i class="fas fa-star"></i>
            </span>
          <% end %>
          <div class="user-articles--post__heart">
            <i class="far fa-heart"></i><%= post.likes.count %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <% if current_user && current_user.id == @user.id %>
    <%= link_to "編集する", edit_user_registration_path(@user), class: "edit-user-link" %>
  <% end %>
</div>