<div class="container">
  <% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
  <% end %>
  <div class="top-head">
    <% if !current_user %>
      <%= link_to "sign in / sign up", new_user_session_path, class: "sign-in-link" %>
    <% else %>
      <%= link_to "Post New Coffee!", new_post_path, class: "new-post-link" %>
    <% end %>
  </div>
  <div class="top-index">
    <% @posts.each do |post| %>
      <div class="top-index__post">
        <%= link_to post_path(post), class:"index-post-link" do%>
          <% if post.user.image == 2 %>
            <%= image_tag 'hitsujicon.png', class: "top-index__post--img" %>
          <% elsif post.user.image == 3 %>
            <%= image_tag 'toricon.png', class: "top-index__post--img" %>
          <% elsif post.user.image == 4 %>
            <%= image_tag 'usagicon.png', class: "top-index__post--img" %>
          <% elsif post.user.image == 5 %>
            <%= image_tag 'azarashi.png', class: "top-index__post--img" %>
          <% elsif post.user.image == 6 %>
            <%= image_tag 'shika.png', class: "top-index__post--img" %>
          <% else %>
            <%= image_tag 'default.png', class: "top-index__post--img" %>
          <% end %>
          <span class="top-index__post--user-name">
            <%= post.user.nickname %>
          </span>
          <div>
            <span class="top-index__post--product">
              <%= post.product %>
            </span>
            <% post.stars.times do%>
              <span class="top-index__post--stars">
                <i class="fas fa-star"></i>
              </span>
            <% end %>
          </div>
          <div class="top-index__post--heart">
            <i class="far fa-heart"></i><%= post.likes.count %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>