<div class="container">
  <div class="top-head">
    <% if !current_user %>
      <%= link_to "sign in / sign up", new_user_session_path %>
    <% end %>
  </div>
  <div class="top-index">
      <% @posts.each do |post| %>
        <div  class="top-index__post">
          <%= link_to post_path(post), class: "post_link" do %>
            <%= image_tag post.user.image.thumb_user.url, class: "post-user-img" %>
            <span class="post-user-nickname">
              <%= post.user.nickname %>
            </span>
            <div class="post-product">
              <%= post.product %>
            </div>
            <%= post.stars %>
            <%= post.likes.count %><span>いいね!</span>
          <% end %>
        </div>
      <% end %>
  </div>
</div>