<!DOCTYPE html>
<html>
  <head>
    <title>CoffeeSns</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= include_gon %>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <%=link_to "Coffe SNS", root_path %>
      </div>
      <div class="header-menu">
        <% if current_user %>
          <%= link_to user_path(current_user) do %>
            <%= image_tag current_user.image.thumb_user.url %>
            <%= current_user.nickname %>
          <% end %>
          <%= link_to "SignOut", destroy_user_session_path, method: :delete %>
        <% end %>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
