<!DOCTYPE html>
<html>
  <head>
    <title>CoffeeSns</title>
   
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    <%= include_gon :init => true %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track'=> true %>
    <%= javascript_include_tag 'application' , 'data-turbolinks-track': 'reload' %>
    <%= yield :js %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <%=link_to root_path, class: "header-logo" do %>
        <%= image_tag 'coffee-sns-logo2.png' %>
      <% end %>
      <% if current_user %>
          <i class="fas fa-bars"></i>
            <ul class="more_list">
              <li class = "more_list__parts">
                <%= link_to user_path(current_user), class: "login-user-link" do %>
                   <% if current_user.image == 2 %>
                    <%= image_tag 'hitsujicon.png', class: "login-user-img" %>
                   <% elsif current_user.image == 3 %>
                    <%= image_tag 'toricon.png', class: "login-user-img" %>
                   <% elsif current_user.image == 4 %>
                    <%= image_tag 'usagicon.png', class: "login-user-img" %>
                   <% elsif current_user.image == 5 %>
                    <%= image_tag 'azarashi.png', class: "login-user-img" %>
                  <% elsif current_user.image == 6 %>
                    <%= image_tag 'shika.png', class: "login-user-img" %>
                  <% else %>
                    <%= image_tag 'default.png', class: "login-user-img" %>
                  <% end %>
                  <span class="login-user-nickname">
                    <%= current_user.nickname %>
                  </span>
                <% end %>
              </li>
            <li class = "more_list__parts">
              <%= link_to "sign out", destroy_user_session_path, class: "sign-out-link", method: :delete %>
            </li>
          </ul>
      <% end %>
      </header>
    <%= yield %>
  </body>
</html>
