<!DOCTYPE html>
<html>
  <head>
    <title>CoffeeSns</title>
   
    <%= include_gon :init => true %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track'=> true %>
    <%= javascript_include_tag 'application' , 'data-turbolinks-track': 'reload' %>
    <%= yield :js %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
        <% if current_user %>
            <i class="fas fa-bars"></i>
             <ul class="more_list">
              <li class = "more_list__parts">
                <%= link_to user_path(current_user), class: "login-user-link" do %>
                  <%= image_tag current_user.image.thumb_user.url, class: "login-user-img" %>
                  <span class="login-user-nickname">
                    <%= current_user.nickname %>
                  </span>
                <% end %>
              </li>
              <li class = "more_list__parts">
                <%= link_to "sign out", destroy_user_session_path, class: "sign-out-link", method: :delete %>
              </li>
            </ul>
        <% end %>
        <%=link_to "Coffe SNS", root_path, class: "header-logo" %>
      </header>
    <%= yield %>
  </body>
</html>
